:root {
    --dark-mode: #363636;
    --light-mode: #fff;
    --color-text: #fff;
    --text-front: aqua;
  }
  
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;background-color: var(--dark-mode);
}
iframe {
    width: 100vw;
    border:  var(--dark-mode) 6px solid;
    height: 90vh;
}
.btn {
    text-align: center;
    margin: 10px;  

}
.btn a {
    text-decoration: none;
    padding: 10px;
    color: white;
    background-color: var(--dark-mode);
    border: 1px var(--text-front) solid;0
}