@media (min-width: 1024px) {
  header {
    
    padding: 20px 0;
  }
  .header--photos {
    width: 250px;
    margin: 0 auto;
  }
  .header--photos .ph1 {
    margin: 0;
    width: 250px;
    height: auto;
    padding: 0;
    border: none;
  }
  nav {
    margin: 5px auto;
  }
  ul {
    font-size: 15px;
    display: flex;
    justify-content: center;
  }
  ul li {
    border: 1px var(--text-front) solid;
    margin: 0 5px;
    border-radius: 10px;
  }
  main #about-me  {
    width: 100%;
  }
  .about-me--container {
    width: 500px;
  }
  #services {
    width: 100%;
  }
  main #services .services--dg {
    width: 500px;
  }
  main #services .services--dev {
    width: 500px;
  }
  main #services .services--mkt {
    width: 500px;
  }
  main #services .services--language {
    width: 500px;
  }
  main #project .project--ecommerce {
    width: 500px;
  }
  #education {
    margin: 0;
  }
  .ed1 {
    width: 500px;
  }
  .ed2 {
    width: 500px;
  }
  #form {
    width: 500px;
    }
    #form input {
      width: 400px;
    }
    #form input, #box-msje {
    width: 400px;
  }
  footer {
    text-align: center;
  }
}
