@media (min-width: 1024px) {
  ul {
    display: inline-block;
  }
  ul li {
    margin: 0 5px;
  }
  .about-me--container {
    width: 841px;
  }
  main #services .dev {
    width: 841px;
  }

  main #project .project--ecommerce {
    width: 500px;
  }
  #form {
    width: 500px;
  }
  #form input {
    width: 400px;
  }
  #form input,
  #box-msje {
    width: 400px;
  }
}
