
:root {
  --dark-mode: #363636;
  --light-mode: #fff;
  --color-text: #fff;
  --text-front: aqua;
}
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  background-color: var(--dark-mode);
  color: var(--color-text);
  font-size: 92.2%;
  font-family: 'Open Sans', sans-serif;
}
header {
  text-align: center;
  width: 100%;
  min-width: 288px;
  height: auto;
  padding: 5px 0;
  }
header img {
  width: 200px;
  margin: 10px;
  border-radius: 500px;
}
.front {
  color: var(--text-front);
  font-size: 16px;
}
h1{
  font-size: 25px;
  font-weight: bold;
}
nav {
  margin: 10px auto;
}
nav ul{
  justify-content: center;
  list-style: none;
}
nav ul li {

  border: 1px var(--text-front) solid;
  margin: 5px;
  border-radius: 10px;
  padding: 10px;
}
nav ul li a {
  color: var(--color-text);
  text-decoration: none;
}
nav ul li a:hover {
  color: #000527;
  border-radius: 10px      ;
  padding: 10px;
  background-color: var(--text-front);
}



main  {
  margin: 0;
  min-width: 288px;
}
#about-me {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 250px;
  margin: 0 auto;
}
main #services{
  min-width: 288px;
  text-align: center;
  padding: 20px 0;
}
button{
  background-color: var(--text-front);
  padding: 7px;
  margin: 10px 0;
}
.title-box {
  border-top: 1px solid aqua;
  border-bottom: 1px solid aqua;
}
main #services .services--dg {
  width: 250px;
  height: auto;
  padding: 4px;
  margin: 10px auto;
  border-radius: 5px;
  text-align: center;
  border: blueviolet 2px solid;
  padding: 10px;
}
main #services .services--dev {
  margin: 0px auto;
  border: yellowgreen 2px solid;
  width: 250px;
  height: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}
main #services .services--mkt {
  margin: 0px auto;
  border: cornflowerblue 2px solid;
  width: 250px;
  height: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

.pic-frontend {
  width: 150px;
}



#project  {
  text-align: center;
  width: 100%;
  min-width: 288px;
  height: auto;
  padding: 20px 0;
  }
.project--ecommerce {
  width: 250px;
  margin: 0 auto;
}   
.project--ecommerce a {
  color: var(--text-front);
}



#education {
  margin: 0;
  min-width: 288px;
  padding: 20px 0;
  text-align: center;
}
.ed1 {
  width: 250px;
  height: auto;
  border: beige solid 2px;
  padding: 10px;
  margin: 10px auto;
  text-align: center;
}
.ed2 {
  padding: 10px;
  text-align: center;
  width: 250px;
  height: auto;
  border: 2px solid green;
  margin: 5px auto;
}



#contact {
  width: 200px;
  margin: 0 auto;
  padding-top: 20px; 
  padding-bottom: 20px; 
}
.msj {
  text-align: center;
}
h3 {
  padding: 10px;
  text-align: center;
}
.msj input{
  padding: 2px 5px;
  width: 200px;
  margin: 2px auto;
}
#box-msje {
  width: 200px;
  height: 90px;
}


footer {
  padding: 5px 0;
  text-align: center;
}
footer a {
  color: #000;
  display: inline-block;
  text-decoration: none;
  margin-bottom: 5px ;
  background-color: var(--text-front);
  padding: 10px;
  
  border-radius: 10px;
}
.social-link {
  justify-content: center;
  width: 250px;
  margin: 0 auto;
  height: 100%;
  display: flex;
}
.social-link .linkedin {
  width: 30px;
  height: 30px;
  margin: 10px;
}
.social-link .github {
  margin: 10px;
  width: 30px;
  height: 30px;
}
.social-link .instagram {
  width: 30px;
  height: 30px;
  margin: 10px;
}