@media (min-width: 425px) {
  header img {
    width: 400px;
  }
  ul li {
    display: inline-block;
  }
  .about-me--container {
    width: 400px;
  }
  main #services .services--dg {
    width: 400px;
  }
  main #services .services--dev {
    width: 400px;
  }
  main #services .services--mkt {
    width: 400px;
  }
  main #services .services--language {
    width: 400px;
  }
  .picture-skills {
    width: 70px;
  }
  main #project .project--ecommerce {
    width: 400px;
  }
  .ed1 {
    width: 400px;
  }
  .ed2 {
    width: 400px;
  }
  #form {
    width: 400px;
  }
  #form input {
    width: 300px;
  }
  #form #box-msje {
    width: 300px;
  }
}
