@media (min-width: 480px) {
  header {
    
    padding: 20px 0;
  }
  ul {
    font-size: 15px;
  }
  ul li {
    display: inline-block;
    margin: 0 5px;
    border-radius: 10px;
  }
  main #about-me  {
    width: 100%;
  }
  .about-me--container {
    width: 400px;
  }
  #services {
    width: 100%;
  }
  main #services .services--dg {
    width: 400px;
  }
  main #services .services--dev {
    width: 400px;
  }
  main #services .services--mkt {
    width: 400px;
  }
  main #services .services--language {
    width: 400px;
  }
  main #project .project--ecommerce {
    width: 400px;
  }
  #education {
    margin: 0;
  }
  .ed1 {
    width: 400px;
  }
  .ed2 {
    width: 400px;
  }
  #form {
    width: 400px;
    }
    #form input {
      width: 300px;
    }
    #form #box-msje {
    width: 300px;
  }
  footer {
    text-align: center;
  }
}
