@media (min-width: 767px) {
  header img {
    width: 500px;
  }
  ul {
    display: inline-block;
  }
  .about-me--container {
    width: 73%;
  }
  #services .services__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    }
  main #services .dev {
    width: 73%;
  }
  main #services .dg {
    width: 274px;
    margin: 5px 5px 0 0;
  }

  main #services .mkt {
    width: 274px;
    margin: 5px 0 0 5px;
  }

  main #services .language {
    width: 274px;
    margin: 5px 0 0 0;
  }
  .ed-container {
    width: 73%;

    display: flex;
    justify-content: center;
  }
  .ed1, .ed2 {
    margin: 0  5px;
  }
  #form {
    width: 500px;
  }
  #form input {
    width: 400px;
  }
  #form #box-msje {
    width: 400px;
  }
}
