@media (min-width: 768px) {
    header {
      
      padding: 20px 0;
    }
    .header--photos {
      width: 250px;
      margin: 0 auto;
    }
    .header--photos .ph1 {
      margin: 0;
      width: 250px;
      height: auto;
      padding: 0;
      border: none;
    }
    ul {
      font-size: 15px;
      display: flex;
    }
    ul li {
      border: 1px var(--text-front) solid;
      border-radius: 10px;
    }
    main #about-me  {
      width: 430px;
    }
    main #services {
      display: flex;
      flex-wrap: wrap;
      margin: 0 51px;
    }
    main #services .services--mkt {
        margin: 40px ;
    }
    main #project .project--ecommerce {
      display: flex;
      margin: 0 auto;
    }
    #education {
      display: flex;
    }
    main .contact .msj {
      width: 400px;
      }
    main .contact .msj input, #box-msje {
      width: 300px;
    }
    footer {
      text-align: center;
    }
  }
  